<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <h1 class="center">{{viewData.header}}</h1>

        {{#if viewData.user}}
            <section>
                <img src="{{viewData.user.avatar}}" alt="Profile picture">
                <h1 class="center">Profile</h1>
                    <ul>
                        <li>Name: {{viewData.user.name}}</li>
                        <li>Username: {{viewData.user.username}}</li>
                        <li>Email: {{viewData.user.email}}</li>
                        <li>Last Activity: {{viewData.user.last_activity_on}}</li>
                    </ul>
            </section>
            <p class="center">
                {{#if viewData.previousPage}}
                    <a href="/?page={{viewData.previousPage}}">Previous</a>
                {{/if}}
                - Current Page: {{viewData.currentPage}} - 
                {{#if viewData.nextPage}}
                    <a href="/?page={{viewData.nextPage}}">Next</a>
                {{/if}}
            </p>
            <section>               
                <h1 class="center">Activities</h1>
                <p>Hits: {{viewData.hits}} activites</p>
                {{#each viewData.events}}
                    <h2>Activity</h2>
                    <ul>
                        <li>Action: {{action_name}}</li>
                        <li>Date: {{created_at}}</li>
                        <li>Event id: {{event_id}}</li>
                        <li>Project id: {{project_id}}</li>
                    </ul>
                {{/each}}
                <p class="center">
                    {{#if viewData.previousPage}}
                        <a href="/?page={{viewData.previousPage}}">Previous</a>
                    {{/if}}
                    - Current Page: {{viewData.currentPage}} - 
                    {{#if viewData.nextPage}}
                        <a href="/?page={{viewData.nextPage}}">Next</a>
                    {{/if}}
                </p>
            </section>
            <a id="logoutButton" href="/logout" class="center">Logout</a>
        {{else}}
            <section>
                <a id="loginButton" href="/login" class="center">Login</a>
            </section>
        {{/if}}
    </main>

</body>
</html>
